.git
.claude
.vscode
.idea

scripts/build
build
app/build
.gradle

local.properties

android
caches
daemon
kotlin-profile
native
notifications
wrapper

.bash_profile
.bashrc
.gitconfig
.mcp.json
.profile
.ripgreprc
.zprofile
.zshrc
